*{
    margin:0;
    padding:0;
}
body{
    background-image: url('galaxy1.jpeg');
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.sun{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: -4px 2px 56px orange;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(#f09819,#ff512f);
}
.mercury{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: linear-gradient(#504e51,#cb5c1b,#ceccd1,#e65829);
    position: absolute;
    top:43%;
    left:42%;
    transform: translate(-50%,-50%);
    animation: orbit2 4s linear infinite;
}   
    
@keyframes orbit2{
    from{
        transform: rotate(0deg) translate(75px) rotate(0deg);
    } to{
        transform: rotate(360deg)translate(75px)rotate(-360deg);
    }
}

.mercury-outline{
    height: 150px;
    width: 150px;
}
.mercury-outline,.venus-outline,.venus-outline,.earth-outline,
    .mars-outline,.jupiter-outline,.satrun-outline,.uranus-outline,.naptune-outline{
        border:2px dotted rgb(235, 235, 64);
        border-radius: 50%;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
   }
    

    .venus-outline{
        height: 210px;
        width:210px;
    }
    .venus{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: absolute;
        top:43%;
        left: 43%;
        background: linear-gradient(#8b91a1,#bbb7ab,#add8d4,#efefef);
         transform:translate(-50%,-50%);
         animation: orbit3 8s linear infinite;
    }

    @keyframes orbit3{
        from{
            transform: rotate(0deg)translate(105px)rotate(0deg);
        } to{
            transform: rotate(360deg) translate(105px) rotate(-360deg);
        }
    }
    .earth-outline{
        height: 300px;
        width: 300px;
    }

    .earth{
        height: 340px;
        height: 340px;
        background: url('earth.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top:44%;
        left:44%;
        transform: translate(-50%,-50%);
        animation:orbit4 12s linear infinite;


    }
    @keyframes orbit3{
        from{
            transform: rotate(0deg)translate(105px)rotate(0deg);
        } to{
            transform: rotate(360deg) translate(105px) rotate(-360deg);
        }
    }